
* {
    box-sizing: border-box;
}
body {
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins", sans-serif;
} 
h1 {
    text-align: center;
}
.question { 
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
}
.options { 
    display: flex;
    flex-direction: column;
}
button { 
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: large;
    border-radius: 10px;
    font-family: inherit; 
}
.option-button:hover {
    background: rgb(128, 128, 128,0.2);
}
.option-button:focus {
    color: #ffffff;
    font-size: larger;
    background: rgb(54, 69, 79)!important;
    -webkit-tap-highlight-color: transparent;
}
#result,
#quiz-container {
    margin: auto;
    padding: 0.5em;
    max-width: 800px;
    box-shadow: 1px 1px 3px 1px #808080;
}
.option-button {
    color: #000000;
    text-align: left;
    background: rgba(25,25,122,0.2);
}
#next-btn {
    min-width: 150px;
    color: #ffffff;
    background: #36454F;
}
#result {
    font-size: larger;
    text-align: center;
}
.progress-container {
    width: 100%;
    margin: auto;
    max-width: 400px;
    text-align: center;
}
.progress-bar {
    width: 100%;
    height: 10px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ddd;
}
.progress {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
}
#next-btn:disabled {
    color: #808080;
    cursor: not-allowed;
}
.storage-notice {
    font-style: italic;
    color: #666;
    margin-top: 20px;
    font-size: 0.9em;
}